* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(207, 207, 207);
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like-button {
  cursor: pointer;
}

.app-wrapper {
  height: 100%;
}

.app-footer {
  padding: 1rem;
  text-align: center;
  background-color: white;
  width: 100%;
}
